if has nix; then
  # This should work by default, and will a future release [0], but that hasn't been cut yet. :(
  # [0]: https://github.com/nix-community/nix-direnv/pull/747#issuecomment-4567040822
  watch_file shell.nix
  watch_dir npins
  use nix
fi

dotenv_if_exists
